@page
@model WebApp.Pages.AboutModel
@{
}
<div class="text-center">
	<h2>Om oss</h2>
	<p>Vi är världens bästa gatukök som leverar maten direkt hem till dig!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac magna vel felis maximus finibus a at odio. Quisque laoreet dui tortor, at rutrum justo commodo in. Duis tristique, erat ut pharetra commodo, ligula leo tincidunt erat, et laoreet felis diam sed risus. Aliquam vitae ligula commodo, congue dui eu, dictum justo. Phasellus id erat nisi. Praesent posuere elit efficitur lacus pellentesque varius. Vestibulum venenatis diam at malesuada molestie. Nam arcu dolor, malesuada sit amet lectus non, gravida congue justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
	<p>Maecenas sapien metus, molestie placerat enim eget, euismod convallis est. Donec ut orci at ligula tempor congue. Vestibulum finibus nec lacus in egestas. Integer et feugiat lorem, ut tristique odio. Cras aliquam nulla libero, in rhoncus orci rutrum eu. Vestibulum non urna auctor, sodales magna non, viverra orci. Praesent in aliquet quam. Aenean sit amet eros sed arcu fringilla placerat. Nam tincidunt, ex sit amet fermentum egestas, enim nisi maximus odio, id laoreet augue eros finibus orci. Phasellus a quam tristique, auctor enim quis, tincidunt magna.</p>
</div>