@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="">Välkommmen till Gatukök Online</h1>
        <h2 class="">Gatukäk direkt till din hemdörr!</h2>
    </div>
    <div class="col-lg-9 m-auto">
        <img class="img-fluid my-2 mainImage" src="~/images/Gatukök.jpg" />

    </div>

    <a class="btn btn-primary my-2" asp-page="/Food">Beställ här</a>
</div>
