@page
@model WebApp.Pages.LogoutModel
@{
}

<form method="post">
	<div class="container mt-5 text-center">
		<p>Vill du logga ut?</p>
		<button asp-page-handler="Logout" class="btn btn-primary">Logga ut</button>
	</div>
</form>